#chat-container{
  width:100%;

}
#footer{
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
}

#status-bar{
  width:100%;
}
#message-input{
  width:100%;
}
#m{
  width:calc(100% - 80px);
}
button{
  width:70px;
}
input{
  margin: 0 5px 0 0;
}

.form-control{
  width: calc(40% - 80px);
}
.list-group{
  list-style-type: none;
}
